<nz-page-header class="site-page-header" nzBackIcon nzTitle="Detalle Vin" [nzSubtitle]="subtitle">
  <ng-template #subtitle> </ng-template>
  <nz-page-header-extra>
    <i
      nz-icon
      nzType="reload"
      nzTheme="outline"
      style="cursor: pointer"
     
    ></i>
  </nz-page-header-extra>
</nz-page-header>


<div class="card-container">
    <nz-tabset [(nzSelectedIndex)]="index" nzType="card" nzSize="large">
        <nz-tab *ngFor="let tab of tabs"  [nzTitle]="titleTemplate" nzType="card">
            <ng-template #titleTemplate>
                <i nz-icon [nzType]="tab.icon" nzTheme="outline"></i>
                {{ tab.name }}
            </ng-template>

            <div *ngIf="index == 0">
                <nz-card style="background-color: rgb(238, 238, 238);" >
                    <nz-skeleton [nzActive]="true" [nzLoading]="cargandoDatosVin" [nzAvatar]="{ size: 'large' }">
                        <nz-card-meta
                           
                            [nzDescription]="descTemplate"
                        ></nz-card-meta>
                    </nz-skeleton>
                </nz-card>
                <ng-template #descTemplate>
                    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                        <nz-col nzSpan="15" class="gutter-row">
                            
                            <nz-card class="tarjetaDatos">
                            
                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                    <nz-col nzSpan="24" nzOffset="9" class="gutter-row">
                                        <nz-tag nzColor="success">
                                            <i nz-icon nzType="check-circle"></i>
                                            <span>VIN: {{veh_codigo}}</span>
                                        </nz-tag>
                                    </nz-col>
                                   
                                </nz-row>

                                <ng-container *ngIf="detalleVin">

                                    <nz-row style="margin-top: 20px;" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                        <nz-col nzSpan="24" class="gutter-row">
                                            <nz-card class="tarjetaItems" [nzTitle]="titleItem">
    
                                                <ng-template #titleItem>
                                                    <i nz-icon [nzType]="'car'" nzTheme="outline"></i> Vehiculo
                                                </ng-template>
    
                                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                   
    
                                                    <nz-col nzSpan="8" class="gutter-row">
                                                        <p>Id Vehiculo:</p>
                                                        <p>Vin:</p>
                                                        <p>Versión:</p>
                                                        <p>Año Modelo:</p>
                                                        <p>Año Producción:</p>
                                                        <p>Segmento:</p>
                                                        <p>OCN:</p>
                                                        <p>Color:</p>
                                                    </nz-col>
    
                                                    <nz-col nzSpan="8" class="gutter-row">
                                                        <p>{{detalleVinDatos.veh_ver_id}}</p>
                                                        <p>{{detalleVinDatos.veh_vin}}</p>
                                                        <p>{{detalleVinDatos.veh_version}}</p>
                                                        <p>{{detalleVinDatos.veh_year_modelo}}</p>
                                                        <p>{{detalleVinDatos.veh_year_produccion}}</p>
                                                        <p>{{detalleVinDatos.veh_segmento_vehiculo}}</p>
                                                        <p>{{detalleVinDatos.veh_ocn}}</p>
                                                        <p>{{detalleVinDatos.veh_nombre_color_ext}}</p>
                                                    </nz-col>

                                                    <nz-col nzSpan="8" style="text-align: start;" class="gutter-row">
                                                        <img nz-image  style="object-fit: contain; text-align: start;"  width="200px" height="200px" [nzSrc]="detalleVinDatos.veh_url_img_modelo" alt="" />

                                                    </nz-col>
    
                                                </nz-row>
                                                
    
                                            </nz-card>
                                        </nz-col>
    
    
                                    </nz-row>
    
                                    <nz-row style="margin-top: 20px;" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                        <nz-col nzSpan="12" class="gutter-row">
                                            <nz-card class="tarjetaItems" [nzTitle]="titleItemTres">
    
                                                <ng-template #titleItemTres>
                                                    <i nz-icon [nzType]="'profile'" nzTheme="outline"></i> Nacionalización
                                                </ng-template>

                                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                   
                                                    <nz-col nzSpan="10" class="gutter-row">
                                                        <p>Número Nacionali:</p>
                                                        <p>Mes Arribo:</p>
                                                        <p>Factura Porteo:</p>
                                                        <p># de Factura:</p>
                                                        <p>Fecha Factura:</p>
                                                        <p>FSC:</p>
                                                        <p>Puerto Arribo:</p>
                                                        <p>Puerto Embarque:</p>
                                                    </nz-col>
    
                                                    <nz-col nzSpan="14" class="gutter-row">
                                                        <p>{{detalleVin.dve_nac_nro_nacionalizacion }}</p>
                                                        <p>{{detalleVin.dve_nac_mes_arribo}}</p>
                                                        <p>{{detalleVin.dve_nac_factura_porteo}}</p>
                                                        <p>{{detalleVin.dve_nac_factura}}</p>
                                                        <p>{{detalleVin.dve_nac_fecha_factura | date:"d MMMM 'de', y "}}</p>
                                                        <p>{{detalleVin.dve_nac_fsc}}</p>
                                                        <p>{{detalleVin.dve_nac_puerto_embarque}}</p>
                                                        <p>{{detalleVin.dve_nac_puerto_arribo}}</p>
                                                    </nz-col>
    
                                                </nz-row>

        
                                            </nz-card>
    
                                        </nz-col>
    
                                        <nz-col nzSpan="12" class="gutter-row">
                                            <nz-card class="tarjetaItems" [nzTitle]="titleItemCuatro">
    
                                                <ng-template #titleItemCuatro>
                                                    <i nz-icon [nzType]="'profile'" nzTheme="outline"></i> Facturación
                                                </ng-template>

                                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                   
                                                    <nz-col nzSpan="10" class="gutter-row">
                                                        <p>Fecha Factura:</p>
                                                        <p>Responsable:</p>
                                                        <p>Doc. Venta:</p>
                                                        <p>Sector:</p>
                                                        <p>Centro:</p>
                                                        <p>Referencia:</p>
                                                        <p>Bultos:</p>
                                                        <p>Valor Venta:</p>
                                                    </nz-col>
    
                                                    <nz-col nzSpan="14" class="gutter-row">
                                                        <p>{{detalleVin.dve_fac_dea_factura | date:"d MMMM 'de', y "}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_nombre_responsable}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_doc_venta}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_sector}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_centro}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_referencia}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_bultos}}</p>
                                                        <p>{{detalleVin.dve_fac_dea_valor_venta}}</p>
                                                    </nz-col>
    
                                                </nz-row>

        
                                            </nz-card>
    
                                        </nz-col>
                                    </nz-row>
    

                                </ng-container>

                            </nz-card>

                        </nz-col>

                        <nz-col nzSpan="9" class="gutter-row">
                    
                            <nz-card class="tarjetaEstados">

                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                    <nz-col nzSpan="24" nzOffset="9" class="gutter-row">
                                        <nz-tag nzColor="processing">
                                            <i nz-icon nzType="check-circle"></i>
                                            <span>ESTADOS VIN</span>
                                        </nz-tag>
                                    </nz-col>
                                   
                                </nz-row>

                                <ng-container *ngIf="detalleVin">

                                    <nz-row style="margin-top: 20px;" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                        <nz-col nzSpan="24" class="gutter-row">
                                            <nz-card class="tarjetaItems" [nzTitle]="titleItem">
    
                                                <ng-template #titleItem>
                                                    <i nz-icon [nzType]="'car'" nzTheme="outline"></i> Estados Vin
                                                </ng-template>

                                                <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                   
                                                    <nz-col nzSpan="24" class="gutter-row">

                                                        <nz-collapse nzAccordion>

                                                            <nz-collapse-panel *ngFor="let panel of detalleVin.listaEstado" [nzHeader]="extraTpl">

                                                                <ng-template #extraTpl>

                                                                    
                                                   
                                                                        <nz-col nzSpan="12" class="gutter-row">
                                                                            {{panel.estadoEtapa.est_nombre}}

                                                                        </nz-col>
                                                                        <nz-col style="text-align: end;" nzSpan="12" class="gutter-row">

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 1">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/activo.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 2">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/consignado.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 3">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/evento.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 4">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 5">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/nacionalizacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 6">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/traslado.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 7">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/desasignado.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 11">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/pedido.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 12">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 13">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 14">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 15">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 16">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 17">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 18">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 19">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 20">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 21">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 22">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 23">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            <ng-container *ngIf="panel.estadoEtapa.est_codigo == 29">
                                                                                <nz-avatar style="width: 20px; height: 20px;"  nzSrc="../../assets/images/facturacion.png" nzTheme="outline"></nz-avatar>
                                                                            </ng-container>

                                                                            

                                                                        </nz-col>
                                                                  
                                                                </ng-template>

                                                                <nz-timeline>
                                                                    <nz-timeline-item><p style="color: rgb(170, 170, 170);">Vin:</p> {{panel.veh_est_veh_vin}}</nz-timeline-item>
                                                                    <nz-timeline-item><p style="color: rgb(170, 170, 170);">Fecha:</p> {{panel.veh_est_fecha}}</nz-timeline-item>
                                                                </nz-timeline>
                                                                
                                                            </nz-collapse-panel>

                                                           
 
                                                        </nz-collapse>

                                                    </nz-col>
                                                </nz-row>

                                            </nz-card>
                                        </nz-col>
                                    </nz-row>

                                </ng-container>
                                
                            </nz-card>
                            
                        </nz-col>

                    </nz-row>
                </ng-template>


                <div class="card-container">
                    <nz-tabset [(nzSelectedIndex)]="indexObs" nzType="card" nzSize="large" (nzSelectedIndexChange)="pestanaItem(indexObs)">
                        <nz-tab *ngFor="let tab of tabsObs"  [nzTitle]="titleTemplate" nzType="card">
                            <ng-template #titleTemplate>
                                <i nz-icon [nzType]="tab.icon" nzTheme="outline"></i>
                                {{ tab.name }}
                            </ng-template>
                
                            <div *ngIf="indexObs == 0">

                                <nz-card style="background-color: rgb(252, 252, 252);" [nzTitle]="descTituloObs" >
                                    <nz-skeleton [nzActive]="true" [nzLoading]="cargandoObservacion" [nzAvatar]="{ size: 'large' }">
                                        <nz-card-meta
                                           
                                            [nzDescription]="descTemplateObservacion"
                                        ></nz-card-meta>
                                    </nz-skeleton>
                                </nz-card>
                                <ng-template #descTituloObs>

                                </ng-template>
                                <ng-template #descTemplateObservacion>
                
                                    
                                    <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                        <div nz-col nzSpan="24" class="gutter-row">
                                            <nz-card class="tarjetaItems">
                
                                                <ng-container>
                
                                                    <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                
                                                        <div nz-col nzSpan="12" class="gutter-row">
                    
                                                        </div>
                    
                                                        <div nz-col nzSpan="12" class="gutter-row">
                                                            
                                                        </div>
                    
                                                    </div>
                    
                
                                                </ng-container>
                
                                                <div nz-row  [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                
                                                    <div nz-col nzSpan="12" class="gutter-row">
                                                        <canvas #sigPad width="{{ancho}}" height="{{alto}}" ></canvas>
                    
                                                    </div>
                
                                                    <div nz-col nzSpan="12" class="gutter-row">
                
                                                        <ng-container *ngIf="listObservacionVin">
                
                                                            <div nz-row *ngIf="listObservacionVin.length == 0 && !cargandoObservacion">
                                                                <div nz-col nzSpan="24">
                                                                  
                                                                  <nz-empty 
                                                                    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" [nzNotFoundContent]="contentTpl"
                                                                    [nzNotFoundFooter]="footerTpl">
                                                                    <ng-template #contentTpl>
                                                                      <span> No Tiene Observaciones</span>
                                                                    </ng-template>
                                                                    <ng-template #footerTpl>
                                                                    </ng-template>
                                                                  </nz-empty>
                                
                                                                </div>
                                                            </div>
                    
                                                            <nz-table #filterTable [nzData]="listObservacionVin" nzTableLayout="fixed" nzSize="middle"
                                                            [nzLoading]="cargandoObservacion" [nzScroll]="{ x: '1000px' }">
                                                            <thead>
                                                                <tr *ngIf="listObservacionVin.length > 0">
                                                                    <th *ngFor="let column of listOfColumnsObservacion" [nzSortOrder]="column.sortOrder"
                                                                        [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
                                                                        [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter"
                                                                        [nzFilterFn]="column.filterFn" [nzShowFilter]="column.filterFn ? true : false"
                                                                        [nzWidth]="column.width ? column.width : null"
                                                                        style="text-align: center; background-color: black; color: white; font-size: 13px;">
                                                                        {{ column.name }}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody style="text-align: center;" *ngIf="listObservacionVin.length > 0">
                                                                <tr *ngFor="let item of filterTable.data" class="editable-row">
                                                                    <td>
                                                                        <small>
                                                                            <nz-tag style="border-radius: 10px; font-size: 10px;" [nzColor]="'red'">{{item.obs_veh_vin}}</nz-tag>
                                                                        </small>
                                                                    </td>
                    
                                                                   
                                                                    <td>
                                                                        <small>
                                                                            {{item.parte.par_nombre}}
                                                                        </small>
                                                                    </td>
                    
                                                                    <td>
                                                                        <small>
                                                                            {{item.dano.dan_nombre}}
                                                                        </small>
                                                                    </td>
                    
                                                                    <td>
                                                                        <small>
                                                                            {{item.tamano.tam_nombre}}
                                                                        </small>
                                                                    </td>
                                                                   
                                                                    <td>
                                                                        <small>
                                                                            <!--<nz-avatar [nzIcon]="'picture'" (click)="openModalDocumento(item)" style="background:white;border: solid 1px #1890ff; color:#1890ff" [nzTooltipTitle]="'Detalle Documentos'" nzTooltipPlacement="top" nz-tooltip></nz-avatar>
                                                                            <nz-divider nzType="vertical"></nz-divider>-->
                                                                            <nz-avatar [nzIcon]="'picture'" (click)="openModalFoto(item)" style="background:white;border: solid 1px #1890ff; color:#1890ff" [nzTooltipTitle]="'Detalle Fotos'" nzTooltipPlacement="top" nz-tooltip></nz-avatar>
                                                                            <!--<nz-divider nzType="vertical"></nz-divider>
                                                                            <nz-avatar [nzIcon]="'picture'" (click)="openModalAccedorios(item)" style="background:white;border: solid 1px #1890ff; color:#1890ff" [nzTooltipTitle]="'Detalle Accesorios'" nzTooltipPlacement="top" nz-tooltip></nz-avatar>-->
                                                                                
                                                                        </small>
                                                                    </td>
                    
                    
                                                                </tr>
                                                            </tbody>
                                                            </nz-table>
                    
                    
                                                        </ng-container>
                                                    </div>
                    
                    
                
                                                </div>
                                            </nz-card>
                                        </div>
                
                                        
                                    </div>
                
                                </ng-template>

                            </div>

                            <div *ngIf="indexObs == 1">

                                <nz-card style="background-color: rgb(252, 252, 252);">
                                    <nz-skeleton [nzActive]="true" [nzLoading]="cargandoObservacion" [nzAvatar]="{ size: 'large' }">
                                        <nz-card-meta
                                           
                                            [nzDescription]="descTemplateAccesorio"
                                        ></nz-card-meta>
                                    </nz-skeleton>
                                </nz-card>
                             
                                <ng-template #descTemplateAccesorio>

                                    
                                    <nz-row style="margin-top: 20px;" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                        <nz-col nzSpan="18" class="gutter-row" nzOffset="3">
    
                                            <cdk-virtual-scroll-viewport itemSize="3" class="demo-infinite-container">
                                                <nz-list nzItemLayout="horizontal" [nzLoading]="cargandoObservacion">
                                                    <nz-list-item *ngFor="let item of listAccesorioVin ; let $index = index">
                                                        <nz-list-item-meta >
                                                            <nz-list-item-meta-title >

                                                                <ul class="tarjetaAccesorios">

                                                                    <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
                                                                        <div style="text-align: end;" nz-col class="gutter-row" [nzSpan]="4">
    
                                                                            <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                                                <nz-col nzSpan="8" class="gutter-row">
                                                                                    <fa-icon class="fa-1x" [icon]="['fas', 'car-side']"></fa-icon>
                                                                                </nz-col>
                                                                                <nz-col nzSpan="8" class="gutter-row">
                                                                                    <p style="color: rgb(187, 187, 187);">Vin:</p>
                                                                                </nz-col>
                                                                                <nz-col nzSpan="8" class="gutter-row">
                                                                                    <p style="color: rgb(144, 167, 228);">{{item.acc_veh_vin}}</p>
                                                                                </nz-col>
        
                                                                            </nz-row>
    
                                                                        </div>
                                                                        <div nz-col  class="gutter-row" [nzSpan]="10">
                                                                            <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                                                                                <nz-col nzSpan="12" class="gutter-row" style="text-align: end;">
                                                                                    <ng-container *ngIf="item.accesorio.gparte.grp_nombre_ico; else noIcono" >
                                                                                        <fa-icon class="fa-1x" [icon]="['fas', item.accesorio.gparte.grp_nombre_ico]"></fa-icon>
                                                                                    </ng-container>
                                                                                    <ng-template #noIcono>
                                                                                        <fa-icon class="fa-1x" [icon]="['fas', 'arrow-alt-circle-right']"></fa-icon>
                                                                                    </ng-template>
    
                                                                                </nz-col>
                                                                                <nz-col nzSpan="12" class="gutter-row"  >
                                                                                    <p style="color: rgb(187, 187, 187);">Grupo:</p> <p style="color: rgb(144, 167, 228);">{{item.accesorio.gparte.grp_nombre}}</p>
                                                                                </nz-col>
        
                                                                            </nz-row>
                                                                        </div>
                                                                        <div nz-col nz-col class="gutter-row" [nzSpan]="10">
                                                                            <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    
                                                                                <nz-col nzSpan="12" class="gutter-row" style="text-align: end;" >
                                                                                    <p style="color: rgb(187, 187, 187);">Parte:</p>
                                                                                </nz-col>
                                                                                
                                                                                <nz-col nzSpan="12" class="gutter-row" style="text-align: start;" >
                                                                                     <p style="color: rgb(144, 167, 228);">{{item.accesorio.par_nombre}}</p>
                                                                                </nz-col>
        
                                                                            </nz-row>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    
                                                                </ul>
            

                                                            </nz-list-item-meta-title>
                                                        </nz-list-item-meta>    
                                                    </nz-list-item>
                                                    <nz-list-empty *ngIf="listAccesorioVin.length === 0"></nz-list-empty>
                                                </nz-list>
                                            </cdk-virtual-scroll-viewport>
                                        </nz-col>
                                    </nz-row>

                                </ng-template>
                



                            </div>

                            <div *ngIf="indexObs == 2">

                                <nz-card style="background-color: rgb(252, 252, 252);">
                                    <nz-skeleton [nzActive]="true" [nzLoading]="cargandoObservacion" [nzAvatar]="{ size: 'large' }">
                                        <nz-card-meta
                                           
                                            [nzDescription]="descTemplateDocumento"
                                        ></nz-card-meta>
                                    </nz-skeleton>
                                </nz-card>
                             
                                <ng-template #descTemplateDocumento>

                                    <nz-row style="margin-top: 1%;" [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        
                                        <nz-col nzSpan="18" class="gutter-row" nzOffset="3">
                    
                                            <cdk-virtual-scroll-viewport itemSize="3" class="demo-infinite-container">
                                                <nz-list nzItemLayout="horizontal" [nzLoading]="cargandoDocumento">
                                                    <nz-list-item *ngFor="let item of listDocumentoGeneral ; let $index = index" >
                                                        <nz-list-item-meta 
                                                       
                                                        >
                                                            <nz-list-item-meta-title >
                    
                                                                <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" >
                                                                    <div style="text-align: end;" nz-col class="gutter-row" [nzSpan]="3">
                                                                        <fa-icon class="fa-1x" [icon]="['fas', 'car']"></fa-icon>
                                                                    </div>
                                                                    <div nz-col class="gutter-row" [nzSpan]="18">
                                                                        <a [href]="baseUrl + item.documento.doc_url" download
                                                                            target="_blank" nz-button nzType="default" [nzSize]="size"
                                                                            nzShape="round">
                                                                            <i nz-icon nzType="download"></i>
                                                                            {{ item.documento.doc_nombre }}
                                                                        </a>
                                                                    </div>
                                                                    <div nz-col class="gutter-row" [nzSpan]="3">
                                                                        <fa-icon class="fa-2x" [icon]="['fas', 'archive']"></fa-icon>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </nz-list-item-meta-title>
                                                        </nz-list-item-meta>    
                                                    </nz-list-item>
                                                    <nz-list-empty *ngIf="listDocumentoGeneral.length === 0"></nz-list-empty>
                                                </nz-list>
                                            </cdk-virtual-scroll-viewport>
                    
                                        </nz-col>
                                    </nz-row>
    

                                </ng-template>
                
                            </div>


                        </nz-tab>
                    </nz-tabset>
                </div>


                


            </div>

            <div *ngIf="index == 1">
                
            </div>
    
           
        </nz-tab>
    </nz-tabset>
</div>

    

<nz-modal nzWrapClassName="vertical-center-modal" nzWidth="700px" [(nzVisible)]="isVisibleModalFoto"
    nzTitle="Galeria de Fotos" (nzOnCancel)="isVisibleModalFoto = false" (nzOnOk)="cerrarModalFoto()"
    [nzOkLoading]="isLoadingFoto">
    <ng-template nzModalContent class="steps-content">

        <div class="steps-content">
            <nz-row>
                <nz-col nzSpan="24">

                    <ng-container *ngIf="listObservacionVinFoto.length>0; else NoFotos">
                        <cdk-virtual-scroll-viewport itemSize="5" class="demo-infinite-container-foto" orientation="horizontal">
                            <nz-list nzGrid style="margin-top: 20px;">
                                <div nz-row [nzGutter]="16">
                                    <div *ngFor="let item of listObservacionVinFoto">
                                        <nz-list-item>
                                            <nz-card style="width:200px; margin-left: 5px;" [nzTitle]="item.documento.doc_nombre"
                                                [nzExtra]="extraTemplate">
                                                <img style="object-fit: contain;" [src]="baseUrl + item.documento.doc_url" alt="" width="100%"
                                                    height="100%">
                                            </nz-card>
                                            <ng-template #extraTemplate>
                                               
                                            </ng-template>
                                        </nz-list-item>
                                    </div>
                                </div>
                            </nz-list>
                        </cdk-virtual-scroll-viewport>
    
                    </ng-container>

                    <ng-template #NoFotos>
                        <nz-list-empty style="text-align: center;"></nz-list-empty>

                    </ng-template>

                    
                </nz-col>
            </nz-row>

        </div>
    </ng-template>
</nz-modal>



