.tarjetaDetalleIcono{
  
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
  
  }
  
  
  .tarjetaIcono{
    
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
  
  }
  
  .tarjetaIcono:hover {
    background-color: #afc2eb;
  
  }
  
  .firmas{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: solid 1px rgb(211, 211, 211);
    display: flex;
    justify-content: center; 
    margin-left: 8%;
    
  }
  
  .contenedor{
    padding: 30px;
  }