.card-container ::ng-deep p {
    margin: 0;
  }
  .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
    min-height: 120px;
    margin-top: -16px;
  }
  .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  .card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
  }
  .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }

.demo-infinite-container2 {
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 4px; 
}
    
.listaHorizontal ::nz-card {
  
  padding-right: 0.5em;
  overflow-x: scroll;
  width: 500px;
  background-color: red;
  
}

.contenedorAccesorio {
    
  display: inline-flex;
  padding: 0px 10px 0px 0px; 
 
}


.tarjetaAccesorio{
  background-color: rgb(242, 242, 242);
  min-width: 200px;
  min-height: 50px;
  border-radius: 20px;
  border: 2px solid #868484;
 
}

.tarjetaAccesorio:hover {
  background: #c4c4c4 !important;
}

.tarjetaAccesorio.selected {
  background: #bdbdbd !important;
  z-index: 1;
}




.contenedor {
    
  display: table-cell; 
  padding: 10px; 
  margin-left: 5px; 
  justify-content: space-between; 
  justify-content: space-around;
  align-items: center;
}

.tarjeta{
  background-color: rgb(242, 242, 242);
  min-width: 200px;
  min-height: 50px;
  border-radius: 20px;
  border: 2px solid #868484;
}


.tarjetaGrupo{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border-color: rgb(155, 155, 155);
  height: 600px;
}

.demo-infinite-container {
  height: 426px;
  border: 2px solid #cecece;
  border-radius: 20px;
  
}

.tarjeta:hover {
  background: #c4c4c4 !important;
}

.tarjeta.selected {
  background: #bdbdbd !important;
  z-index: 1;
}


nz-list-item {
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
}

nz-list-item.selected {
  background: #bdbdbd !important;
  z-index: 1;
}

nz-list-item:hover {
  background: #e3e3e3 !important;
}

.contenedorParte {
  list-style: none;
  padding: 15px 35px;
  display: block;
  cursor: pointer;
  text-align: left;
  margin-bottom: 1px;
}

.tarjetaDano{
  height: 120px;
  width: 180px;
  background-color: rgb(245, 245, 245);
  align-items: center;
  align-content: center;
  align-self: center;

}

.tarjetaDano:hover {
  background: #c4c4c4 !important;
}

.tarjetaDano.selected {
  background: #bdbdbd !important;
  z-index: 1;
}


.tarjetaTamano{

  height: 60px;
  width: 180px;
  background-color: rgb(245, 245, 245);
 
}

.tarjetaTamano:hover {
  background: #c4c4c4 !important;
}

.tarjetaTamano.selected {
  background: #bdbdbd !important;
  z-index: 1;
}


.contenedorDano {
    
  display: inline-block; 
  padding: 10px; 
  margin-left: 5px; 
  justify-content: space-between; 
  justify-content: space-around;
  align-items: center;
}

.contenedorTamano{

  display: table-cell;  
  padding: 10px; 
  margin-left: 5px; 
  justify-content: space-between; 
  justify-content: space-around;
  align-items: center;

}


/*.tarjetaCanvas{
  height: 380px; 
  width: 600px;
  margin-top: 1%; 
  display: hidden; 
  //background-color: rgb(240, 240, 240);
}*/

.container-list{
  height: 100px;
  display: flex;
  flex-direction:column;
}

.demo-infinite-ckecklist{
  height: 365px;
  border: 2px solid #e8e8e8;
  border-radius: 20px; 
  
  
}

.cardAccesorios{

  margin-left: 10px; 
  width: 50%;
  height: 400px; 
  border-radius: 25px;
  border: 2px solid #c4c4c4;
  background-color: white;
 
}


.demo-infinite-container-document {
  height: 230px;
  border: 1px solid #e8e8e8;
  border-radius: 4px; 
 
}

.seg-solucion{
  height: 230px;
  background-color: #FCFCFC;
  color: #C2C3C3;
  border-color: #b7b8c5;
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;
  margin: 2px 0;
}



table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  margin-left: 0.5%;
  margin-top: 1%;
}

th, td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white; 
}


  

  
  



